{% extends "base.html.twig" %}
{% block body %}
{# templates/farmer/edit.html.twig #}
{% if app.flashes('success') %}
    <div class="alert alert-success">
Farmer details updated successfully! 
    </div>
{% endif %}
{% if app.flashes('delete') %}
    <div class="alert alert-danger">
Farmer details deleted successfully! 
    </div>
{% endif %}

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">email</th>
      <th scope="col">phone</th>
      <th scope="col">image</th>
      <th scope="col">edit</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
  <tbody>
{% for farmer in farmers %}
    <tr>
      <td>{{ farmer.id }}</td>
      <td>{{ farmer.FirstName }}</td>
      <td>{{ farmer.LastName }}</td>
      <td>{{ farmer.email }}</td>
      <td>{{ farmer.phone }}</td>
      <td>{{ farmer.image }}</td>
{# <td>
    <img src="{{ asset('uploads/brochures/' ~ farmer.image) }}" alt="{{ farmer.image }}">
</td> #}
<td><button type="button" class="btn btn-primary"><a href="{{ path("farmer_edit", {'id': farmer.id}) }}">edit</a></button></td>
<td><button type="button" class="btn btn-danger"><a href="{{ path("farmer_delete", {'id': farmer.id}) }}">delete</a></button></td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}

